[package]
name = "crudkit-web"
version = "0.1.0"
edition = "2024"

[dependencies]
crudkit-condition = { path = "../../../crudkit-condition" }
crudkit-id = { path = "../../../crudkit-id/crates/crudkit-id" }
crudkit-shared = { path = "../../../crudkit-shared" }
crudkit-validation = { path = "../../../crudkit-validation" }
crudkit-websocket = { path = "../../../crudkit-websocket" }

derive-crud-action-payload = { path = "../derive-crud-action-payload" }
derive-crudkit-id = { path = "../../../crudkit-id/crates/derive-crudkit-id" }
derive-crud-resource = { path = "../derive-crud-resource" }
derive-crud-selectable = { path = "../derive-crud-selectable" }
derive-field = { path = "../derive-field" }
derive-field-value = { path = "../derive-field-value" }
derive-dynamic = { path = "../derive-dynamic" }

typed-builder = "0.23.2"
downcast-rs = "2.0.1"
typetag = "0.2.19"
erased-serde = "0.4.5"
dyn-eq = "0.1.3"
dyn-hash = "0.2.1"
send_wrapper = "0.6.0"
leptos-keycloak-auth = "0.11.2"
async-trait = "0.1.71"
dyn-clone = "1.0.12"
indexmap = { version = "2.0.0", features = ["serde"] }
reqwest = { version = "0.12.5", default-features = false, features = [
    "json",
    "multipart",
] }
serde = { version = "1.0.171", features = ["derive"] }
serde_json = { version = "1.0.103", features = ["raw_value"] }
# TODO: Consider replacing this with `snafu`.
thiserror = "1.0.43"
time = { version = "0.3.23", features = [
    "macros",
    "local-offset",
    "wasm-bindgen",
] }
tracing = "0.1.37"
uuid = { version = "1.6.1", features = ["js", "v4", "v7", "serde"] }
