leptonic-table {

  leptonic-table-header {

    leptonic-table-header-cell {
      text-align: start;

      &.fit-content {
        min-width: fit-content;
      }

      &.crud-order-by-trigger {
        user-select: none;
        cursor: pointer;
        white-space: nowrap;

        &:hover {
          background-color: var(--table-background-color-on-hover);
        }
      }

      .crud-order-by-sign {
        min-width: .5em;
        display: inline-flex;
        margin: 0 0 0 0.25em;
        font-size: 1.1em;
      }
    }
  }

  leptonic-table-row {
    // TODO: use this in list view or delete this style.
    &.recently-updated {
      transition: background-color 0.5s;
      background-color: #4181aa;
    }
  }

  leptonic-table-body {

    leptonic-table-cell.fit-content {
      width: 0;
    }
  }
}